<table border="1" width="50%" cellpadding="5">
   <tr>
    <th>Amount and currency</th>
    <th>$amount_currency</th>
   </tr>
   <tr>
    <td>Risk</td>
    <td>$risk</td>
  </tr>
   <tr>
    <td>Liquidity</td>
    <td>$liquidity</td>
  </tr>
   <tr>
    <td>Period (month(s))</td>
    <td>$period_month</td>
  </tr>
   <tr>
    <td>Period (years(s))</td>
    <td>$period_years</td>
  </tr>
   <tr>
    <td>Name</td>
    <td>$name</td>
  </tr>
   <tr>
    <td>E-mail</td>
    <td>$email</td>
  </tr>
   <tr>
    <td>Phone</td>
    <td>$telephone</td>
  </tr>
   <tr>
    <td>Comments</td>
    <td>$comment</td>
  </tr>
 </table>